--- 
---
@import "{{ site.theme }}";

/* LAYOUT STYLES */
body {
  color: #616161;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

p {
  font-weight: 400;
}

td {
  font-weight: 400;
}

header h1 {
  font-family: inherit;
  font-weight: 500;
}

code,
pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 16px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  .inner {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px 12px;
    width: 94%;
  }
  ul li {
    margin-left: 10px;
    padding-left: 10px;
  }
  ol li {
    margin-left: 10px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .inner {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px 12px;
    width: 94%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .inner {
    width: 54rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
