---
---

@import "{{ site.theme }}";

.inner {
    width: 54rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    code, pre {
        font-size: 16px !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    code, pre {
        font-size: 16px !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    code, pre {
        font-size: 14px !important;
    }
}
